body {
    background-color: #ffdead;
    font-family: Arial, Helvetica, sans-serif
}
.contact{
    margin: auto;
}
.contact-title{
    text-align: center;
    margin-bottom: 30px;
}
.contact-title h3{
    color: #b22222;
    margin-bottom: 10px;
}
.form-container{
    background: transparent;
    max-width: 550px;
    margin: auto;

}
.form{
    padding-bottom: 16px

}
.form-name,.form-email,.form-title,.form-message{
    position: relative;
}
.form-name:before{
    content: "\f007";
    color: #ddd;  
    font-family: 'fontAwesome';
    position: absolute;
    top: 10px;
    left: 0;  
}
.form-email:before{
    content: "\f1d8";
    color: #ddd;
    font-family: 'fontAwesome';
    position: absolute;
    top: 10px;
    left: 0;  
}
.form-title:before{
    content: "\f044";
    color: #ddd;
    font-family: 'fontAwesome';
    position: absolute;
    top: 10px;
    left: 0;  
}
.form-message:before{
    content: "\f003";
    color: #ddd;
    font-family: 'fontAwesome';
    position: absolute;
    top: 10px;
    left: 0;   
}
form input:focus, form textarea:focus, form input:hover, form textarea:hover{
    border-color: aqua;
}
form textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid aqua;
    transition: 0.2s;
    margin-top: 16px
    
}
form input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid aqua;
    transition: 0.2s;
    outline: none;
    margin-top: 16px;
    position: relative;
    
}
form button{
    border: 1px solid aqua;
    transition: 0.2s;
    padding: 10px 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    background-color: red;
    text-transform: uppercase;
    font-size: 16px;
    color: black;

}
.center-align{
    text-align: center;
}
#container {
    background-color: #deb887;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
h2, h3 {
    margin: 0;
    color: #a52a2a

    
}

#header {
    background-color: #c0c0c0;
    color: #a52a2a;
    text-align: center;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #c0c0c0;
    color: whitesmoke;
    text-align: center;

}
